.app {
  font-family: Arial, sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-field {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.city-dashboard {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city-name {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.city-population,
.city-area {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}