/* Timer.js */
.timer {
    border: 1px solid #ccc;
    color: #7e8287;
    font-size: 80px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    padding: 10px;
    background-color: #F1F2F1;
    
  }

  .timer:hover {
    cursor: pointer;
  }