.pomodoro-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.pomodoro-timer h1 {
    font-size: 3rem;
    margin: 0;
    color: antiquewhite;
}


.timer {
    font-size: 5rem;
    color: antiquewhite;
    background-color: black;
    border: 1px solid antiquewhite;
    margin: 0;
}



/* Buttons */
.button-start-stop {
    background-color: #007BFF;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .button-start-stop:hover {
    background-color: #0056b3;
  }
  
  .button-reset {
    background-color: #dc3545;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-reset:hover {
    background-color: #c82333;
  }